.sidebar {
  background-color: $cl-primary;
  color: $cl-white;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &-logo {
    text-align: center;

    img {
      display: inline-block;

      width: 15rem;
    }
  }

  &-menu {
    border-top: 2px solid $cl-white;
    padding: 0.5rem;
    flex-grow: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }

    &-item {
      text-transform: capitalize;
      margin-block: 0.5rem;

      a,
      button {
        display: flex;
        gap: 1.5rem;
        padding: 1.5rem;
        transition: background-color 0.3s ease;
        cursor: pointer;
        border-radius: $radius-small;
        align-items: center;

        &:hover {
          background-color: $cl-primary-dark;
        }
      }
      &-active {
        a {
          background-color: $cl-primary-dark;
          background-color: $cl-gold;

          &:hover {
            background-color: darken($cl-gold, 10);
          }
          .sidebar-menu-item-icon {
            color: $cl-red;
          }
        }
      }
      button {
        outline: none;
        background-color: transparent;
        border: none;
        width: 100%;
        color: inherit;
        font: inherit;
        text-transform: inherit;
      }

      &-icon {
        color: $cl-red;
        color: $cl-gold;
        font-size: 1.5em;
      }
    }

    &-inner {
      &_covered {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.5s ease-in;

        border-radius: $radius-small;
        background-color: lighten($color: $cl-primary-dark, $amount: 5);
        margin-left: 3rem;
        font-size: 0.9em;

        &-list {
          overflow: hidden;

          .sidebar-menu-item {
            a {
              border-radius: unset;
              padding: 0.8rem;
            }
          }

          > :first-child {
            a {
              border-top-left-radius: $radius-small;
              border-top-right-radius: $radius-small;
            }
          }
          > :last-child {
            a {
              border-bottom-left-radius: $radius-small;
              border-bottom-right-radius: $radius-small;
            }
          }
        }

        img {
          width: 2rem;
        }
      }
    }

    &-inner--open {
      .sidebar-menu-inner_covered {
        grid-template-rows: 1fr;
      }
    }
  }
}
